.title {
    font-size: 2.4rem;
    font-weight: 400;
    padding-left: 16px;
    border-left: 3px solid;
}
.search {
    .search-input {
        margin: 18px 0 24px;
        padding: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 2px;
    }
}

.advertise {
    .img {
        width: 100%;
        margin: 18px 0 24px;
    }
}